<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	<title>操作结果</title>
    <title>激活账号</title>
</head>
<body>
<!--	<div>-->
<!--		<p>-->
<!--			亲爱的<b th:text="${name}"></b> 用户邮箱为<u th:text="${email}"></u>的用户, 您好!-->
<!--		</p>-->
<!--		<p>-->
<!--			您正在注册智租网, 请点击-->
<!--			<a th:href="${url}">此链接</a>,前往地址：<span th:utext="${url.toString()}"></span> 激活您的账号!-->
<!--		</p>-->
<!--	</div>-->
	<div class="nk-container">

		<!-- 内容 -->
		<div class="main">
			<div class="container mt-5">
				<div class="jumbotron">
					<h1 th:text="${operate}" style="text-align: center;letter-spacing: 5px;font-family: 华文细黑,serif">智能租租网注册验证提示信息！</h1>
					<p class="lead" th:text="${msg}"></p>
					<hr class="my-4">
							<p style="text-align: center;">
								邮箱为<b th:text="${name}"></b>的亲爱的用户，欢迎你注册智租网, 请点击
								<a th:href="${url}">此链接</a>,前往地址：<span th:utext="${url.toString()}"></span> 激活您的账号!
							</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
